sql joins

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark
from pyspark.sql.functions import  *
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import StringType
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [ ]:
d =[[1,'Emmanuel','1','india','karnatka','bidar'],[2,'simon','2','india','karnatka','bidar']]

c =['roll','name','class','country','state','district']

df1 = spark.createDataFrame(d,c)

df1.show()
df1.createOrReplaceTempView("df1")

+----+--------+-----+-------+--------+--------+
|roll|    name|class|country|   state|district|
+----+--------+-----+-------+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|
|   2|   simon|    2|  india|karnatka|   bidar|
+----+--------+-----+-------+--------+--------+

In [ ]:
d =[[1,'emmanuel','1','india','karnatka','bidar'],[100,'hero','2','pak','kar','hip']]

c =['roll','srname','ad','zero','hero','district']

df2 = spark.createDataFrame(d,c)

df2.show()
df2.createOrReplaceTempView("df2")

+----+--------+---+-----+--------+--------+
|roll|  srname| ad| zero|    hero|district|
+----+--------+---+-----+--------+--------+
|   1|emmanuel|  1|india|karnatka|   bidar|
| 100|    hero|  2|  pak|     kar|     hip|
+----+--------+---+-----+--------+--------+

In [ ]:
spark.sql("select*from df1 left join df2 on df1.roll=df2.roll").show()

+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|roll|    name|class|country|   state|district|roll|  srname|  ad| zero|    hero|district|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|   1|emmanuel|   1|india|karnatka|   bidar|
|   2|   simon|    2|  india|karnatka|   bidar|null|    null|null| null|    null|    null|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+

In [ ]:
spark.sql("select*from df1 d1 join df2 d2 on d1.roll=d2.roll ").show()

+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+
|roll|    name|class|country|   state|district|roll|  srname| ad| zero|    hero|district|
+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|   1|emmanuel|  1|india|karnatka|   bidar|
+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+

In [ ]:
spark.sql("select*from df1 d1 left join df2 d2 on d1.roll=d2.roll").show()

+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|roll|    name|class|country|   state|district|roll|  srname|  ad| zero|    hero|district|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|   1|emmanuel|   1|india|karnatka|   bidar|
|   2|   simon|    2|  india|karnatka|   bidar|null|    null|null| null|    null|    null|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+

In [ ]:
spark.sql("select*from df2 d2 right join df1 d1 on d1.roll = d2.roll").show()

+----+--------+----+-----+--------+--------+----+--------+-----+-------+--------+--------+
|roll|  srname|  ad| zero|    hero|district|roll|    name|class|country|   state|district|
+----+--------+----+-----+--------+--------+----+--------+-----+-------+--------+--------+
|   1|emmanuel|   1|india|karnatka|   bidar|   1|Emmanuel|    1|  india|karnatka|   bidar|
|null|    null|null| null|    null|    null|   2|   simon|    2|  india|karnatka|   bidar|
+----+--------+----+-----+--------+--------+----+--------+-----+-------+--------+--------+

In [ ]:
spark.sql("select*from df1 full join df2 on df1.roll=df2.roll").show()

+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|roll|    name|class|country|   state|district|roll|  srname|  ad| zero|    hero|district|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|   1|emmanuel|   1|india|karnatka|   bidar|
|   2|   simon|    2|  india|karnatka|   bidar|null|    null|null| null|    null|    null|
|null|    null| null|   null|    null|    null| 100|    hero|   2|  pak|     kar|     hip|
+----+--------+-----+-------+--------+--------+----+--------+----+-----+--------+--------+

In [ ]:
spark.sql('select*from df1 inner join df2 on df1.roll=df2.roll').show()

+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+
|roll|    name|class|country|   state|district|roll|  srname| ad| zero|    hero|district|
+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+
|   1|Emmanuel|    1|  india|karnatka|   bidar|   1|emmanuel|  1|india|karnatka|   bidar|
+----+--------+-----+-------+--------+--------+----+--------+---+-----+--------+--------+

In [ ]:
spark.sql("select*from df1 natural left join df2 ").show()

+----+--------+--------+-----+-------+--------+--------+----+-----+--------+
|roll|district|    name|class|country|   state|  srname|  ad| zero|    hero|
+----+--------+--------+-----+-------+--------+--------+----+-----+--------+
|   1|   bidar|Emmanuel|    1|  india|karnatka|emmanuel|   1|india|karnatka|
|   2|   bidar|   simon|    2|  india|karnatka|    null|null| null|    null|
+----+--------+--------+-----+-------+--------+--------+----+-----+--------+